[submodule ".emacs.d/use-package"]
	path = .emacs.d/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "notes/themes/contrast"]
	path = notes/themes/contrast
	url = git@github.com:niklasbuschmann/contrast-hugo.git
